/* font */

@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,700&family=Noto+Sans+KR:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bricolage+Grotesque:opsz,wght@10..48,700&family=Noto+Sans+KR:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Petit+Formal+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Cabin&family=Manrope&family=Red+Hat+Display:ital,wght@0,300;1,300&display=swap');


@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

/* https://animate.style/ - 애니메이션 */


body {
	margin: 0;
	font-family: Montserrat, sans-serif;
  }
  
/* 메뉴 고정 바 */

  #navbar {
	/* background-color: rgba(52, 152, 219, 0); 투명! */
	/* background-color: rgba(224, 243, 255, 0.2); 배경색 동일 */
	/* background-color: rgba(17, 17, 17, 1); */
	/* border-bottom: 1px #5f666e solid; */
	border-bottom: 1px none solid;
	background:rgba(255, 255, 255, 0); backdrop-filter: blur(5px);
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-around;
	padding: 16px;
	z-index: 1000; /* 메뉴를 다른 요소 위에 유지하기 위한 값 */

	font-weight: 600;
	font-family: Montserrat, sans-serif;
	letter-spacing: 1px;
  }
  
  #navbar a {
	color: #005287;
	/* text-shadow: 0 0 1px #fff, 0 0 10px #fff, 0 0 10px #006bcc, 0 0 50px #006bcc, 0 0 10px #006bcc, 0 0 50px #006bcc, 0 0 5px #006bcc; */
	text-decoration: none;
	transition: color 0.6s ease; /* 색상 변화를 부드럽게 적용 */
  }
  
  #navbar a:hover {
	color: #006bcc;
  }
  
  #navbar a:first-child {
	margin-right: 30%; /* 첫 번째 링크를 오른쪽으로 밀어줌 */
	color: #005287;
	/* color: #5f666e; */
  }
  
  #navbar a:not(:first-child) {
	margin-right: 10px; /* 나머지 링크들 간의 간격 */
  }

  /* 웹디, 마지막 메뉴 바 색 반전 */  

  #navbar.dark .stylenone {
  	color: #000;
  }

  #navbar.dark a {
	/* color: #006bcc; */
}  

  #navbar.dark a:hover {
	color: #006bcc;
}  
  
/* 스크롤 시에 텍스트 효과 */

.scroll-text {
	opacity: 0;
	transform: translateY(20px);
	transition: opacity 0.5s, transform 0.5s;
  }


/* BODY Reset CSS
 * --------------------------------------- */

 #fp-nav ul li a span, 
.fp-slidesNav ul li a span{
    background-color: white;
}


body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
	font-family: 'Noto Sans KR', sans-serif;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}

strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}

/* Custom CSS
 * --------------------------------------- */
body{
	font-family: 'Noto Sans KR', sans-serif;
	color: #333;
	color: rgba(0,0,0,0.5);
}

h1{
	font-size: 6em;
}
p{
	font-size: 2em;
}


/* text 애니메이션 */

.animate__animated.title_1 {
	--animate-duration: 1.2s;
  }

.animate__animated.title_2 {
	--animate-duration: 1.6s;
}  

.animate__animated.title_3 {
	--animate-duration: 2s;
}  


/* Sections backgrounds
* --------------------------------------- */

#main-bg {
	background-image: url('img/main-bg.png');
	background-size:cover;
	height:100%
}

/* [#1] Main 메인 텍스트 타원형 */


.st0 { 
	fill: none; 
	stroke: #005287;
	stroke-width: 0.02; 
	stroke-linecap: round; 
	stroke-linejoin: round; 
	stroke-miterlimit: 10;
 }

.ellipse-wrap {
	margin-top:-100px;
	overflow: hidden;
 }

 #mySvg {
	top:0;
	position: relative;
	transform: rotate(-2deg); /* 회전 적용 */
 }

/* [#1] Main 메인 세팅 */

.main_tit {
	color:  rgba(255, 255, 255, 0.6);
	position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1; /* 다른 요소 위에 보이도록 하는 속성 */}
	

.title_1, .title_2, .title_3 {
	color: rgba(255, 255, 255, 0.6);
  	text-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 20px #006bcc, 0 0 30px #006bcc, 0 0 40px #006bcc, 0 0 55px #006bcc, 0 0 75px #006bcc;
	width:100%;
	text-align: center; 
	display: inline-block;}

.title_1 {
	font-size: 6.5vw;
	font-family: 'Montserrat', sans-serif, 'Petit Formal Script', cursive, 'Noto Sans KR', sans-serif;
	font-weight: 800;
}

#my-portfolio, #work-web, #work-design {
	margin-left: 10em;
}

#section0 h1, h2, h3, h4, p {
	margin:0;
}

.point {color:rgba(11, 31, 44, 1);}

#section0 .point1 {
	font-family: 'Montserrat', sans-serif, 'Petit Formal Script', cursive, 'Noto Sans KR', sans-serif;
	font-weight: 500;
	font-style: italic;
	color: rgba(255, 255, 255, 0.6)
}

#section0 h3 {
	font-size: 5.5vw;
	font-family: 'Petit Formal Script', cursive;
	font-weight: 900;
}

#section0 .point2 {
	color:rgba(11, 31, 44, 1);
	font-family: 'playfair display', sans-serif;
	font-style:italic;
}

#section0 .point3 {
	font-family: 'Petit Formal Script', cursive;
	font-size:3vw;
	color: #f1f1f1;
}


	#section0 p {
	font-family:'Archivo', sans-serif;;
	font-weight: 200;
	bottom:0
	}	

/* [#2] My profile - about 나의 프로필 */

#section1 {
	background-image: url(img/about.png);
	background-size:cover;
}


/* 텍스트 애니메이션 */
.animated-text {
	transform: translateY(20px);
	animation: fadeInUp 3s forwards;
}

.section.active .animated-text {
	animation: bounce 2s forwards;
}
.section.active .animated-text2 {
	animation: bounce 2.2s forwards;
}
.section.active .animated-text3 {
	animation: bounce 2.4s forwards;
}
.section.active .animated-text4 {
	animation: bounce 2.6s forwards;
}
.section.active .animated-text5 {
	animation: bounce 2.8s forwards;
	margin-right: 12px;
}

.section.active .animated-text6 {
	animation: bounce 3s forwards;
}

.section.active .animated-text6 {
	animation: bounce 3.2s forwards;
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-10px);
	}
	60% {
		transform: translateY(-5px);
	}
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.iam {margin-left:10px;}

/* 텍스트 애니메이션 끝 */

#section1 .hello {padding-left: 5px;}

#section1 .hello h1 {
	font-family: 'playfair display', sans-serif;
	font-style:italic;
	font-size: 52px;
	font-weight: bold;
	letter-spacing:-2px;
	margin-bottom: 12px;
	text-shadow: 0 0 1px #fff, 0 0 10px #fff, 0 0 20px #006bcc, 0 0 30px #006bcc, 0 0 0px #006bcc, 0 0 10px #006bcc, 0 0 0px #006bcc;

	margin-bottom:20px;}

#section1 h1 {
	text-align: left;
	display: inline-block;
	font-size: 21px;
	letter-spacing:-2px;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 100;
	color: #fff;

	margin-bottom: 10px;
	}


#section1 span {
	text-align: left;
	display: inline-block;
	font-size: 22px;
	letter-spacing:-2px;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 300;
	color: #0073bd;
	text-shadow: none;

	/* border:1px solid #0073bd; */
	/* border-radius: 200px; */
}

#section1 #about-wrap {
	width:800px;
	height: auto;
}

#section1 .about {
	width:650px;
	float:left;
	margin-left: 90px;
}

#section1 p, button {
	font-family: 'Noto Sans KR', sans-serif;
	letter-spacing:-0.1em;
	color: #000;
	/* margin-top:2em; */
}



#section1 .notion p {
	margin-top: 34px;
	padding-left: 2px;
	font-size: 22px;
	font-weight: 300;
	line-height:1.2em;

	display: inline-block;
	text-align: justify;
	color:#0073bd;
}

#section1 .t_over {
	font-family: 'Noto Sans KR', sans-serif;
	color: #19bcff;
	font-weight: 100;
	letter-spacing: -0.1em;
	font-style: normal;
	font-size: 23.8px;
}

#section1 .tape1 {
	position: absolute;
	margin-left:88em;
	margin-top:-4em;

	z-index:2;
}

#section1 .tape2 {
	position: absolute;
	margin-top:28em;
	margin-left:62em;

	z-index:2;
}

/* -- 이모지1 -- */
#section1 .selfie img {
	position: absolute;
	top:0;
	margin-left: 700px;
	margin-top:16.4em;
	width: 340px;

	transform: rotate(-5deg);
	
}

/* -- 프로필 -- */

#section1 .profile {
	position:absolute;
	width:500px;
	line-height: 220%;

	margin-top: 400px;
	margin-left: 1050px;
	
	top:0
	}

#section1 .profile p {
		font-family: 'Montserrat', sans-serif, 'Noto Sans KR', sans-serif;
		font-size: 18px;
		font-weight: 200;
		color:#fff;

		letter-spacing: 0px;
}

/* -- 스킬 -- */

#section1 .set {
	width:900px;
	position:absolute;
	margin-left: 790px;
	}

#section1 .set p {
	font-family: 'Montserrat', sans-serif, 'Noto Sans KR', sans-serif;
	letter-spacing: 0px;
	font-weight:500;
	font-size: 20px;

	margin-bottom:8px;

	color:#fff;
}

#section1 .set img {
	width:28px
}

/* about 버튼 */

#section1 .notion {
	position: absolute;
	width: 600px;
}

#section1 .notion p {
	color: #fff;
	font-weight: 200;
}

#section1 button {
	/* margin-top:1.4em; */
	margin-left:14px;
	background-color:transparent;
	padding:0.4em 0.8em 0.4em 0.8em;
	text-align:left;
	font-size: 1.2em;
}

#section1 button a {
	color: #000;
}


/* fade-down 효과 */
/* ------------------------------------------ */

#my-portfolio h1 {
	line-height:130%;}

#my-portfolio button {
	padding: 8px 20px 8px 20px;
	cursor: pointer;
	background-color: rgba(97, 186, 253, 0.2);
	border: 1px solid #fff;
	border-radius: 100px;

	transition: 0.8s ease; 

	font-size:19.5px;
	font-weight:500;
	letter-spacing:-1.8px;
}

#my-portfolio button a {
	transition: 0.8s ease; 
	color:#fff;
	font-weight: 300;}

#my-portfolio button:hover {
	background-color: rgba(97, 186, 253, 0.4);
	transition: 0.8s ease; 
	border: 1px solid #000000;

}

#my-portfolio button:hover a {
color: #000;
font-weight:500;
font-size:19.5px;
transition: 0.8s ease; 
}


/* [#3] work, web site 웹 사이트 포트폴리오 */

#work-web {
	position:left;
	height:100%; 
	margin: 0;
}

#work-web h1 {
	color:#fff;
	text-align: left;
	font-family: 'Montserrat', sans-serif, 'Noto Sans KR', sans-serif;
	text-shadow: 0 0 1px #fff, 0 0 10px #fff, 0 0 20px #006bcc, 0 0 30px #006bcc, 0 0 0px #006bcc, 0 0 10px #006bcc, 0 0 0px #006bcc;
}

#work-web h2, 
#work-web span {
	color: #0073bd;
	text-align: left;
	font-family: 'Montserrat', sans-serif, 'Noto Sans KR', sans-serif;
}

#work-web h3, #work-web p {
	color: #0073bd;
	text-align: left;
	font-family: 'Noto Sans KR', sans-serif;
}

#work-web h1 {
	margin-left: 25px;
	font-size: 60px;
	font-weight: 700;
	margin-bottom:0.1em;
	}

#work-web h2 {
	margin-left: 25px;
	font-size: 23px;
	font-weight: 400;
	margin-bottom:2em;
	color:  #0073bd;
	}

#work-web h3 {
	margin-left: 25px;
	font-size: 36px;
	font-weight: 500;
	letter-spacing:-1px;
	/* margin-top:2em; */
	margin-bottom:0.2em;
	color: #fff}


#work-web p {
	margin-left: 25px;
	color: rgba(249, 253, 255, 0.9);
	font-weight: 200;
	margin-bottom:6px;
	letter-spacing:-1px;
	}

#work-web .en {
	font-family: 'Montserrat', sans-serif, 'Noto Sans KR', sans-serif;
	font-size: 22px;
	margin-bottom:40px;
}

.ex {
	font-size:9px;}

/*
.ex p {
	width: 660px;
	text-align: justify;
	background-color: rgba(0, 0, 0, 0.5);
	color:rgba(30, 128, 189, 0.8);
	padding: 2px 10px 2px 10px
}
*/

.percent {
	margin-top: 50px;
	font-size:20px}

#work-web span {
	font-size: 0.8em;
	font-weight: 400;
	color: rgba(94, 137, 163, 0.6)
	}


.web-portfolio {margin-left: 10em;}

.web-portfolio button {
		margin-left: 25px;
		margin-top:3em;
		padding: 8px 38px 8px 38px;
		cursor: pointer;
		background: none;
		backdrop-filter: blur(5px);
		border: 1px solid #fff;
		border-radius: 100px;
	
		transition: 0.4s ease; 
	
		text-transform:uppercase;
		font-size:18px;
		font-weight:500;

		transition: 0.8s ease; 
}

.web-portfolio button a {
	transition: 0.8s ease; 
	color:#fff;
	font-weight: 300;
}

.web-portfolio button:hover {
	background: rgba(15, 29, 37, 1);
	transition: 0.8s ease; 
	border:1px solid #0073bd;
}

.web-portfolio button:hover a {
	color:#0e9cdf;
	font-weight:500;

	transition: 0.8s ease; 
}


#web {background-image: url('img/web1.png'); background-size:cover;}

#web0 {background-image: url('img/web1.png'); background-size:cover;}

#web1 {background-image: url('img/web2.png'); background-size:cover;}

#web2 {background-image: url('img/web3.png'); background-size:cover;}

#web3 {background-image: url('img/web4.png'); background-size:cover;}

#web4 {background-image: url('img/web5.png'); background-size:cover;}



/* [#4] work, design 나머지 디자인 */

#work-design {
	position: left;
	height:100%;
	margin: 0;
	background-image:url(img/design-bg.png);
	background-size:cover;
}

.design {top:0; margin:10em 10em 2em 10em;}

#work-design h1 {
	margin-left: 25px;
	text-align: left;
	font-size: 4em;
	font-family: 'Montserrat', sans-serif, 'Petit Formal Script', cursive, 'Noto Sans KR', sans-serif;
	font-weight: 700;
	color: #ffff;
	text-shadow: 0 0 1px #fff, 0 0 10px #fff, 0 0 20px #006bcc, 0 0 30px #006bcc, 0 0 0px #006bcc, 0 0 10px #006bcc, 0 0 0px #006bcc;
	margin-bottom:0.1em;
	}

#work-design h2 {
	margin-left: 25px;
	text-align: left;
	font-size: 1.6em;
	font-family: 'Montserrat', sans-serif, 'Petit Formal Script', cursive, 'Noto Sans KR', sans-serif;
	font-weight: 400;
	color:rgba(0, 115, 189, 0.6)
	}

.work-menu li {
	font-size:1.4em;
	color:#fff}

/* 갤러리 메뉴 버튼 */

.work-menu {
	margin-left: 25px;
    display: flex;
    flex-wrap: wrap;
	margin-top:2em;
}

.filter-button {
	font-family: Montserrat, sans-serif;
	
    margin: 14px;
	padding: 10px 30px 10px 30px;
    cursor: pointer;
	background: rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	border: 2px solid rgba(0, 115, 189, 1);
	border-radius: 100px;

	transition: 1s ease; /* 기존 개체에다 transition 속성 추가 */

	text-transform:uppercase;
	font-size:16px;
	color:rgba(0, 115, 189, 1);
	font-weight: 700;
	letter-spacing:1px;
	margin-bottom:1em;
	font-weight: 600;
}

.filter-button:hover {
	background: rgba(0, 115, 189, 0.8);
	color:#000;
	font-size:16px;
	font-weight:600;

	transition-duration: 0.5s; 
}

.work-img {display:block;}

/* 갤러리 + 모달 창 */

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  width: 100%;
  height: 100%;
  min-height:700px;
  max-height:100%;
  gap: 50px;
  padding: 30px;
}

.gallery img {
  max-width: 100%;
  width: 100%;
  /* height: 100%; 한 행에 가장 긴 이미지에 맞춰서 확대되게끔 함 */
  object-fit: cover; /* 이미지를 확대하여 가득 채우도록 함 */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.gallery img:hover {
	transform: scale(1.05);
}

/* 모달 스타일 */
.modal {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	justify-content: center;
	align-items: center;
}

/* 모달 열릴 때 이미지 효과 X */

.modal img:hover {
	transform: none;
}
.modal img {
	border-radius: 0;
	box-shadow: none;
}

/* 모달 창 - 비디오 (현재 테스트 중) */

/* -------------------------------------------------------------------------------------- */

.modal-content {
    max-width: 80%;
    max-height: 80%;
    margin: auto;
    overflow: auto; /* 세로 스크롤을 허용함 */
    background-color: #fff;
    padding: 40px;
    /* border-radius: 8px; */
    position: relative;
    text-align: left;
	letter-spacing: -1px;
}

#modalTitle {
	font-weight: 700;
	font-size:36px;
	letter-spacing:-2px;
	color:#000}

#modalCaption {
	font-family: Montserrat, sans-serif;
	font-weight:500;
	font-size:15px;
	color: #313131;
	/* color: rgba(0, 115, 189, 0.8) */
	letter-spacing:0px;
}

#modalCaption2 {
	font-family: Montserrat, sans-serif;
	margin-top:10px;
	margin-bottom:20px;
	font-size:15px;
	font-weight:300;
	color: #000;
}

 #modalCaption3 {
	margin-bottom:20px;
	font-size:16px;
	color:#919191;
	font-weight: 400;
} 

.modal-img {
	width: 100%;
	height: auto;
	margin-bottom: 20px;
}

.modal-close {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 20px;
	color: #000;
	cursor: pointer;
}

.modal-title {
	font-size: 24px;
	margin-bottom: 10px;
}

/* ----------- 모달 창 스크롤 바 ----------- */

/* WebKit 브라우저 스크롤바 스타일링 */
.modal-content {
	overflow-y: scroll;
	scrollbar-width: thin; /* Firefox에서 스크롤바 스타일 조정 */
  }
  
  /* WebKit 브라우저 스크롤바 스타일링 */
  .modal-content::-webkit-scrollbar {
	width: 6px; /* 스크롤바 너비 조정 */
  }
  
  /* WebKit 브라우저 스크롤바 트랙 스타일링 */
  .modal-content::-webkit-scrollbar-track {
	background-color: #f1f1f1; /* 트랙 배경색 조정 */
  }
  
  /* WebKit 브라우저 스크롤바 핸들(쓰롤러) 스타일링 */
  .modal-content::-webkit-scrollbar-thumb {
	background-color: #888; /* 핸들 배경색 조정 */
	border-radius: 4px; /* 핸들 모양 조정 */
  }
  
  /* WebKit 브라우저 스크롤바 코너(쓰롤러와 트랙 사이) 스타일링 */
  .modal-content::-webkit-scrollbar-corner {
	background-color: #f1f1f1; /* 코너 배경색 조정 */
  }
  
/* ------------------------------------------------ */

/* [#5] footer 마무리 */

#footer {
	font-family: 'Noto Sans KR', sans-serif;
	background-image:url(img/thx.png);
	background-size:cover;
	height:100%}
	
#footer .thx p {
	text-align:center;
	margin-bottom: 0.6em}

#footer .fin {
	margin-top:2em;
}

#footer .fin p {
	color:rgba(166, 185, 202, 0.4);
	text-align:center;
	font-size: 15px;
	line-height:1.6;
	font-family: Montserrat, sans-serif;
	}

#footer .fin_t {
	margin-bottom: 10px;
	letter-spacing:-1px;
	font-size: 18px;}

#footer .kr {
	color:#fff;
	font-weight: 400;
	letter-spacing:-2px;}

#footer .email {
	font-size:26px;
	font-family: Montserrat, sans-serif;
}

.email a {color:rgba(38, 133, 216, 0.8);}


/* 텍스트 웨이브 효과 */

.wave_text {
	font-family: Montserrat, sans-serif;
	text-align:center;
	font-size: 6em;
	font-weight: 700;
	
	margin-bottom: 0.2em;
	text-shadow: 0 0 1px #fff, 0 0 10px #fff, 0 0 20px #006bcc, 0 0 30px #006bcc, 0 0 0px #006bcc, 0 0 10px #006bcc, 0 0 0px #006bcc;
}

.wave_text span {
	color: rgba(255, 255, 255, 0.6);}


@keyframes anime_textup { 0% { top: 0; } 20% { top: -1rem; } 40% { top: 0 } 60% { top: 0 } 80% { top: 0 } 100% { top: 0 } }
 
    .wave_text span {
        position: relative;
        animation: anime_textup 2.4s infinite;
		letter-spacing:-22px;
    }
 
    .wave_text span:nth-of-type(1) {
        animation-delay: .1s;
    }
    .wave_text span:nth-of-type(2) {
        animation-delay: .2s;
    }
    .wave_text span:nth-of-type(3) {
        animation-delay: .3s;
    }
    .wave_text span:nth-of-type(4) {
        animation-delay: .4s;
    }
    .wave_text span:nth-of-type(5) {
        animation-delay: .5s;
    }
	.wave_text span:nth-of-type(6) {
		animation-delay: .6s;
		letter-spacing:-28px;
	}
	.wave_text span:nth-of-type(7) {
		animation-delay: .7s;
		font-size:80px; 
		color: #fff; 
		letter-spacing:-28px;
	}
	.wave_text span:nth-of-type(8) {
		animation-delay: .8s;
	}
	